*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}
.container{
    max-width: 1000px;
    margin:auto;
}
header{
    background-color: #48c5ce;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
h1{
    font-size: 26px;
    text-transform: uppercase;
}
.form{
    padding: 20px;
    background-image: url("../images/people.jpg");
    background-size: cover;
    overflow: hidden;
}
.FormCont{
    max-width: 230px;
    border-radius: 10px;
    float: right;
    background-color: #ffffffbb;
    padding: 20px;
}
.mb{
    margin-bottom: 20px;
}
.chamada{
    text-transform: uppercase; 
    font-size: 16px;
}
input, select{
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
input[type="submit"]{
    margin-top: 10px;
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}
input[type="submit"]:hover{
    background-color: #2b8d94;
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
footer{
    color: white;
    background-color: #202121;
    padding: 40px;
    text-align: center;
}
img{
    width: 160px;
}
.palestrante{
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;
}
.palestrante h3, .palestrante p{
    margin-bottom: 20px;
}
.palestrante h3{
    font-size: 24px;
}

